<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>YouDownload</title>
</head>
<style type="text/css">
.icon {
    margin-top: 48px;
    margin-left: 390px;
    }
a:hover
{
        text-decoration: none;
}

body {
    background-image: url('https://i.gifer.com/Nv2.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}
</style>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
        <a class="navbar-brand" href="#">
            <h1>Social Media Downloader</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="icon">
        <a href="/youtube">
            <img border="0" alt="youtube" src="{{url_for('static',filename='img/youtube.png')}}" width="200" height="200">&nbsp&nbsp&nbsp&nbsp
        </a>
        <a href="/facebook">
            <img border="0" alt="facebook" src="{{url_for('static',filename='img/facebook.png')}}" width="200" height="200">&nbsp&nbsp&nbsp&nbsp
        </a>
        <a href="/instagram">
            <img border="0" alt="instagram" src="{{url_for('static',filename='img/instagram.jpg')}}" width="200" height="200">&nbsp&nbsp&nbsp&nbsp
        </a>
    </div>
    <!--<img src="{{url_for('static',filename='img/Youtube.gif')}}"  style="height:200px;">-->
    <!-- Optional JavaScript -->
    <!-- jQu

        ery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="
    sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>